@media (max-width: 480px) {

  .new-collections {
    padding: 16px 10px;
  }

  .new-collections-title h1 {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .new-collections-title hr {
    width: 60px;
    height: 2px;
    margin-bottom: 20px;
  }

  /* keep 4 columns */
  .new-collections-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: fit-content;
  }

  .item {
    padding: 8px;
    border-radius: 8px;
  }

  .item img {
    width: 100%;
    max-width: 140px;
    height: 120px;
    object-fit: contain;
    margin: 0 auto 8px auto;
    border-radius: 20px;
  }

  .item img:hover {
    transform: none;
  }
}