.shop-banner {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    margin-left: auto;
}

.shop-banner img {
    display: flex;
    width: 100%;

}

.new_collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.new_collections img {
    width: 100%;
    max-width: 220px;
    height: 260px;
    object-fit: contain;
    margin: auto;
    display: block;
    border-radius: 200px;
    cursor: pointer;
}

.collection_container {
    padding-top: 30px;
    width: 100%;
    height: auto;
}

.new-collections-container {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.new_collections_title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
}

.new_collections_title hr {
    width: 400px;
    height: 4px;
    background-color: #ff4141;
    border: none;
    margin: 0 auto 40px auto;
}

.shopcategory-loadmore {
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

}

.shopcategory-loadmore button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(253, 77, 24);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    border-radius: 28px;
}

.shopcategory-loadmore button:hover{
    color: rgb(253, 77, 24);
    background-color: white;
    transform: translateY(-5px);
}

@media (max-width: 480px) {

    .new_collections {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 20px;
    }

    .new_collections img {
        width: 85%;
        height: auto;
        margin: 20px auto;
    }

    .new_collections_title {
        font-size: 22px;
        text-align: center;
    }

    .shopcategory-loadmore {
        width: 150px;
        height: 50px;
    }

    .shop-banner img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .new_collections {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .new_collections img {
        width: 75%;
        height: auto;
        margin: 30px auto;
    }

    .new_collections_title {
        font-size: 26px;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .new_collections {
        grid-template-columns: repeat(3, 1fr);
    }

    .new_collections img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {

    .new_collections {
        max-width: 1200px;
        margin: auto;
    }

    .collection_container {
        max-width: 1400px;
        margin: auto;
    }
}