.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0px 1px 3px -2px black;
    width: 100%;
    background: linear-gradient(90deg, whitesmoke, transparent);

}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
    margin-right: 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;

}

.nav-menu li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 25px;
}

.nav-login-cart button {
    width: 130px;
    height: 51px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    margin: 15px;
    margin-left: 80px;
}

.nav--login-cart-button:active {
    background-color: #f3f3f3;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}

.nav-cart-count {
    display: flex;
    align-items: center;
    height: 22px;
    width: 22px;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;

}

.nav-user {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

@media (max-width: 480px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 12px;
        gap: 10px;
    }

    .nav-logo p {
        font-size: 26px;
        margin-right: 0;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
        padding: 0;
    }

    .nav-login-cart {
        margin-right: 0;
        justify-content: center;
    }

    .nav-login-cart button {
        width: 110px;
        height: 45px;
        font-size: 16px;
        margin: 10px 0;
        margin-left: 0;
    }

    .nav-cart-count {
        margin-top: -30px;
        margin-left: -40px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .nav-logo p {
        font-size: 30px;
        margin-right: 0;
    }

    .nav-menu {
        gap: 30px;
        font-size: 18px;
    }

    .nav-login-cart button {
        margin-left: 20px;
        font-size: 18px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .nav-menu {
        gap: 35px;
        font-size: 19px;
    }

    .nav-login-cart button {
        margin-left: 40px;
    }
}

@media (min-width: 1200px) {

    .navbar {
        max-width: 1400px;
        margin: auto;
    }
}