body{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  font-family: 'poppins';
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
@media (max-width: 768px) {
  html {
    font-size: 14px; /* smaller text on tablets */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px; /* smaller text on mobile */
  }
}