.populars-container{
      width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.populars{
    max-width: 1200px;
  margin: auto;
}
.populars h1{
      text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.populars hr{
     width: 120px;
  height: 4px;
  background-color: #ff4141;
  border: none;
  margin: 0 auto 40px auto;
}

.populars-items{
      display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


@media (max-width: 480px) {

  .populars-container {
    padding: 16px 10px;
  }

  .populars h1 {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .populars hr {
    width: 60px;
    height: 2px;
    margin-bottom: 20px;
  }

  /* keep 4 columns */
  .populars-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: fit-content;
  }

  .item {
    padding: 8px;
    border-radius: 8px;
  }

  .item img {
    width: 100%;
    max-width: 140px;
    height: 120px;
    object-fit: contain;
    margin: 0 auto 8px auto;
    border-radius: 20px;
  }

  /* disable hover zoom on mobile */
  .item img:hover {
    transform: none;
  }
}